<h2 class="page-header">New Book</h2>
<%# use post request to server which can only be done with a form %>
<%# multipart for that could inlcude form data using multer library  enctype="multipart/form-data"%>
<%# multipart form is gone due to encoding from filepond %>
<form action="/books" method = "POST">
    <%- include('_form_fields') %>
    <div class="form-row form-row-end btn-row">
        <a class="btn btn-danger" href="/books">Cancel</a>
        <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>