<h2 class="page-header">New Authors</h2>
<%# use post request to server which can only be done with a form %>
<form action="/authors" method = "POST">
    <%- include('_form_fields') %>
    <a class="btn btn-primary" href="/authors">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
</form>